*{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fondo1{
    background-color: rgb(255, 255, 255);
}
.headers{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(119,5,175,0.8408613445378151) 65%, rgba(0,212,255,1) 100%);
}
.colModal{
    background-color:#2e588f;
}
.card{
    /* background-image: linear-gradient(to left bottom, #4ca467, #59b75f, #6dc952, #88db3d, #a8eb12);  */
    background-image: linear-gradient(to left bottom, #4c55a4, #5852bb, #6d4ad0, #893be0, #aa12eb);
    -webkit-box-shadow: 1px 1px 20px 7px #000000; 
    box-shadow: 1px 0.5px 28px 7px #000000;
    
    }
footer{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(119,5,175,0.8408613445378151) 65%, rgba(0,212,255,1) 100%);

}
.logheader{
    background: rgb(20, 19, 40);
}
.logSesionImg{
    background-image: url(/RecetasConSazon/assets/carusel/dessert-352475_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logbod{
    background-image: linear-gradient(90deg, rgba(163, 163, 163, 1) 0%, rgba(76, 67, 157, 1) 55%, rgba(49, 47, 48, 1) 100%);
}
.reRESbod{
    background-image: radial-gradient(circle, rgba(163, 163, 163, 1) 0%, rgba(76, 67, 157, 1) 55%, rgba(49, 47, 48, 1) 100%);
}
.usuReHeader{
    color: white !important;
    background-color: #263863;
}

.usuReRegister{text-shadow: 1px -1px 15px rgba(25, 136, 247, 0.8);
    color: rgb(3, 0, 0) !important;
    box-shadow: 5px 5px 10px 1px #000000;
    background: white;
}
.usuREbody{
    background-color: #1f456b;
}
